/* Reset some default styles */
body, h1, h2, p, ul, li {
    margin: 0;
    padding: 0;
}

body {
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
    color: #333;
}

/* Navigation styles */
header {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 10px 0;
}

/* Style the name in the header */
.name {
    font-size: 30px;
    font-weight: bold;
    color: #fff;
    margin: 20px 0;
}

/* Section styles */
section {
    max-width: 600px; /* Adjust the width as desired */
    margin-top: 20px;
    margin: 20px auto 20px; /* Center the section horizontally */
    padding: 50px;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, .2); /* Add a subtle shadow */
}