/* Reset styles */
body, h1, h2, p{
    margin: 0;  /* Space around element borders */
    padding: 0; /* Space between contents and border */
}

body {
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
    color: #333;
    font-size: 20px;
}

/* Header */
header {
    background-color: #333;
    text-align: center;
    padding: 20px;
}

/* Name Style */
.name {
    font-size: 36px;
    font-weight: bold;
    color: #fff;
    margin: 20px;
}

/* Sections */
section {
    max-width: 800px;   /* Size of box */
    margin: 50px auto;
    padding: 40px;
    background-color: #fff;
    border-radius: 10px;    /* Curve of box */
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.2);    /* Shadow around box */
}

/* Download Button */
.download-button {
    display: inline-block;
    padding: 10px 10px; /* Padding (Size) of button around text */
    background-color: #333;
    color: #fff;
    border: none;   /* Get ride of button border, looks smoother */
    border-radius: 5px; /* Curvature of button */
    cursor: pointer;
    font-weight: bold;
    font-size: 16px;
}

.download-button:hover {
    background-color: #555; /* Hover color */
}